* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimson Text', serif;
}

html,body {
	height:100%;
	margin:0;
}

.navbar {
	font-size: 1.3em;
}

.content {
	height:100%;
	min-height:100%;/*for mozilla*/
}

html>body .content {
	height:auto;
}

.brand {
	text-align: center;
	font-family: "abril-text";
}

.title { 
	position: center;
	font-size: 60px;
	text-align: center;
	font-family: "abril-text";
}

.subtitle {
	margin: 0 0 10px;
	font-size: 28px;
	font-weight: 600;
	text-align: center;
}

.nounderline {
  text-decoration: none !important;
  font-size: 50px;
  margin: 20px;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

section {
	padding-top: 70px;
	padding-bottom: 10px;
}

/*.about {
  padding-top: 70px;
  padding-bottom: 80px;
}*/

.padded {
  padding-top: 25px;
  padding-bottom: 20px;
}

.center-text {
	padding-left: 30px;
	padding-right: 30px;
}

.signature {
	height: 1.5em;
}

.white {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(10deg) brightness(100%) contrast(105%);
}

.dark {
	background-color: #151f2b;
}

#footwrap{
	padding-bottom: 50px;
}